{{- $s := site.Params }}
{{- $p := .Params }}
{{- $codeBlockConfig := partial "func/getCodeBlockSettings" . }}
<!DOCTYPE html>
<html
  lang="{{ .Lang }}"
  data-figures="{{ $p.figurePositionShow }}"
  {{ if .IsPage }}
    class="page"
  {{ else if .IsHome }}
    class="home"
  {{ end }}
  {{ with $s.enforceLightMode }}
    data-mode="lit"
  {{ end }}
  {{ with $s.enforceDarkMode }}
    data-mode="dim"
  {{ end -}}
>
  <head>
    {{- partial "head" . }}
    {{- partial "hooks/head-end" . }}
  </head>
  <body
    data-code="{{ $codeBlockConfig.max }}"
    data-lines="{{ $codeBlockConfig.lines }}"
    id="documentTop"
    data-lang="{{ .Lang }}"
  >
    {{- partial "header" . }}
    <main>
        <div class="grid-inverse wrap content">
          <div id="front-text3">
            {{ with .Site.GetPage "/home" }}
              <h1 class="post_title">{{ .Title }}</h1>
              {{ .Content }}
            {{ end }}

            <div class="homepage_recent_posts" >
              {{ range ( first 2 ( where .Site.Pages "Type" "in" site.Params.mainSections ).ByDate.Reverse ) }}

                  <div class="excerpt">
                    <div class="excerpt_header">
                      <h3 class="post_link">
                        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify | truncate 36 }}</a>
                      </h3>

                      <!-- the thumbnail portions somewhere below doesn't work so we devised our own as follows ... -->
                      <div style="background-image:url({{ .Param "featured_image" }}); background-size:contain;background-position:center;background-repeat:no-repeat;height:300px;width:100%;">&nbsp;</div>
                    </div>
                    {{- with .Params.thumbnail }}
                    <div class="excerpt_footer partition">
                      <div class="excerpt_thumbnail">
                        {{- partial "image" (dict "file" . "alt" $.Title "type" "thumbnail" "Page" $.Page ) }}
                      </div>
                      {{ else }}
                      <div class="excerpt_footer">
                        {{- end }}
                        <div class="pale">
                          {{- $summary := truncate 320 .Summary }}
                          {{- if .Params.summary }}
                            {{- $summary = .Params.summary }}
                          {{- else if .Params.abstract }}
                            {{ $summary = .Params.abstract }}
                          {{- end }}
                          {{ if not ( strings.Contains $summary "<p>" ) }}
                            <p>{{ $summary | markdownify }}</p>
                          {{ else }}
                            {{ $summary | markdownify }}
                          {{ end }}
                          <br>
                          {{- $r := T "read_more" }}
                          <a href="{{ .Permalink }}" title="{{ $r }}" class="excerpt_more button">{{ $r }}</a>
                        </div>
                      </div>

                      {{ partial "post-meta" . }}

                    </div>
                
              {{ end }}
              </div>

              <div class="homepage_more_posts">
                <a href="{{ "categories/posts/" | relURL }}" class="excerpt_more button" >Meer berichten</a>
              </div>

            </div>
         
        </div>
    </main>

    {{- partialCached "icons" . }}
    {{- partialCached "footer" . }}
    {{- partialCached "scripts" . }}
    {{- partialCached "hooks/body-end" . }}
  </body>
</html>
