<!-- get mastodon id as curl https://mapstodon.space/api/v1/accounts/lookup?acct=justb4 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@idotj/mastodon-embed-timeline@latest/dist/mastodon-timeline.min.css" integrity="sha256-1UGgxsonaMCfOEnVOL89aMKSo3GEAmaRP0ISbsWa6lU=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@idotj/mastodon-embed-timeline@latest/dist/mastodon-timeline.umd.js" integrity="sha256-E6WPG6iq+qQIzvu3HPJJxoAeRdum5siq13x4ITjyxu8=" crossorigin="anonymous"></script>
<div id="mt-container" class="mt-container">
  <div class="mt-body" role="feed">
    <div class="mt-loading-spinner"></div>
  </div>
</div>
<script>
  {{ $instance := (index .Params 0) }}
  {{ $user := (index .Params 1) }}
  {{ $userId := (index .Params 2) }}
  {{ $limit := (index .Params 3) }}
  window.addEventListener("load", () => {
    const myTimeline = new MastodonTimeline.Init({
      instanceUrl: "https://{{ $instance }}",
      timelineType: "profile",
      userId: "{{ $userId }}",
      profileName: "@{{ $user }}",
      maxNbPostFetch: "{{ $limit }}",
      maxNbPostShow: "{{ $limit }}",
      defaultTheme: "dark",
      markdownBlockquote: true,
      hidePinnedPosts: true,
      hideReblog: true,
    });
  });
</script>
